* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #4CAF50;
}

main{
    padding-left: 1%;
    padding-top: 1%;
}

.book {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 15px;
    margin: 10px 0;
    background-color: white; 
    width: 30%;
}

.book h2 {
    color: #4CAF50; 
    margin-bottom: 5px;
}

.book p {
    color: #333; 
    margin-bottom: 10px;
    font-size: 20px;
}

.book img {
    max-width: 100px; 
    height: auto;
    border-radius: 4px; 
}

.submit-button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #367c39;
}