/* Navbar styling */
.navbar {
    background-color: #4CAF50; /* Sciencey green */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-brand {
    font-weight: bold;
    font-size: 24px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}