<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "/bookreq" method = "get">
        Enter <input type = "text" name = "searchtext">
    </form>
</body>
</html>