<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/searchoutput.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">

    <title>Results</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-brand">MyReads</div>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/mybooks">My Books</a>
            </div>
        </nav>
    </header>

    <h1>Your Query Results</h1>
    <%-output%>
</body>
</html>